html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
}

#gt-canvas {
  background-color: #53e8ed;
  display: block;
}

#gt-instructions {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  color: white;
}
